In [12]:
import pandas as pd

In [13]:
#Question 1 Please, read this file in a Jupyter Notebook Python file by using pandas.
df = pd.read_excel(r'/Users/szechan/Documents/a/ALY6140_tech/week2/NBA_2K21_DATA.xlsx', index_col =0, header=0)

In [14]:
#Question 2a Create the same table by using pandas.
newdf = df.copy()
newdf

,REGION,NBA_2K21_SALES,NBA_2K21_AVG_MIN_PLAYED,AVG_IN_GAME_REV
COUNTRY,,,,
China,Asia,1398.72,9596.96,12234.78
India,Asia,1351.16,3287.26,2575.67
US,N.America,329.74,9833.52,19485.39
Indonesia,Asia,268.07,1910.93,1015.54
Brazil,S.America,210.32,8515.77,2055.51
Pakistan,Asia,205.71,881.91,302.14
Nigeria,Africa,200.96,923.77,375.77
Bangladesh,Asia,167.09,147.57,245.63
Russia,NaN,146.79,17098.25,1530.75
Mexico,N.America,126.58,1964.38,1158.23
Japan,Asia,126.22,377.97,4872.42
Germany,Europe,83.02,357.11,3693.20
France,Europe,67.02,640.68,2582.49
UK,Europe,66.44,242.50,2631.23
Italy,Europe,60.36,301.34,1943.84
Argentina,S.America,44.94,2780.40,637.49
Algeria,Africa,43.38,2381.74,167.56
Canada,N.America,37.59,9984.67,1647.12
Australia,Oceania,25.47,7692.02,1408.68
Kazakhstan,Asia,18.53,2724.90,159.41

In [15]:
#Question 2b Create the same table by using nested dictionary
nest = df.to_dict()
nest

{'REGION': {'China': 'Asia',
  'India': 'Asia',
  'US': 'N.America',
  'Indonesia': 'Asia',
  'Brazil': 'S.America',
  'Pakistan': 'Asia',
  'Nigeria': 'Africa',
  'Bangladesh': 'Asia',
  'Russia': nan,
  'Mexico': 'N.America',
  'Japan': 'Asia',
  'Germany': 'Europe',
  'France': 'Europe',
  'UK': 'Europe',
  'Italy': 'Europe',
  'Argentina': 'S.America',
  'Algeria': 'Africa',
  'Canada': 'N.America',
  'Australia': 'Oceania',
  'Kazakhstan': 'Asia'},
 'NBA_2K21_SALES': {'China': 1398.72,
  'India': 1351.16,
  'US': 329.74,
  'Indonesia': 268.07,
  'Brazil': 210.32,
  'Pakistan': 205.71,
  'Nigeria': 200.96,
  'Bangladesh': 167.09,
  'Russia': 146.79,
  'Mexico': 126.58,
  'Japan': 126.22,
  'Germany': 83.02,
  'France': 67.02,
  'UK': 66.44,
  'Italy': 60.36,
  'Argentina': 44.94,
  'Algeria': 43.38,
  'Canada': 37.59,
  'Australia': 25.47,
  'Kazakhstan': 18.53},
 'NBA_2K21_AVG_MIN_PLAYED': {'China': 9596.96,
  'India': 3287.26,
  'US': 9833.52,
  'Indonesia': 1910.93,
  'Brazil': 8515.77,
  'Pakistan': 881.91,
  'Nigeria': 923.77,
  'Bangladesh': 147.57,
  'Russia': 17098.25,
  'Mexico': 1964.38,
  'Japan': 377.97,
  'Germany': 357.11,
  'France': 640.68,
  'UK': 242.5,
  'Italy': 301.34,
  'Argentina': 2780.4,
  'Algeria': 2381.74,
  'Canada': 9984.67,
  'Australia': 7692.02,
  'Kazakhstan': 2724.9},
 'AVG_IN_GAME_REV': {'China': 12234.78,
  'India': 2575.67,
  'US': 19485.39,
  'Indonesia': 1015.54,
  'Brazil': 2055.51,
  'Pakistan': 302.14,
  'Nigeria': 375.77,
  'Bangladesh': 245.63,
  'Russia': 1530.75,
  'Mexico': 1158.23,
  'Japan': 4872.42,
  'Germany': 3693.2,
  'France': 2582.49,
  'UK': 2631.23,
  'Italy': 1943.84,
  'Argentina': 637.49,
  'Algeria': 167.56,
  'Canada': 1647.12,
  'Australia': 1408.68,
  'Kazakhstan': 159.41}}

In [16]:
#Question 3 Write the data frame you have created in Question 2 as csv and show your code.
newdf.to_csv("excel_file_example.csv")

#I want to check that my filed is saved properly in csv format
!head -n 5 excel_file_example.csv

COUNTRY,REGION,NBA_2K21_SALES,NBA_2K21_AVG_MIN_PLAYED,AVG_IN_GAME_REV
China,Asia,1398.72,9596.96,12234.78
India,Asia,1351.16,3287.26,2575.67
US,N.America,329.74,9833.52,19485.39
Indonesia,Asia,268.07,1910.93,1015.54

### Question 4 
#### An excel file consumes more memory space compared to an csv becayse an excel file contains information about the content and its formatting. A csv file on the other hand, contatins plain text format, which values sperated by commas. If I had an file with 1.5 million rows, I would write this file into csv.

In [21]:
#Question 5 Write the data frame you have created in Question 2 as excel and show your code.

newdf.to_excel('excel_file_example.xlsx')
newdf

,REGION,NBA_2K21_SALES,NBA_2K21_AVG_MIN_PLAYED,AVG_IN_GAME_REV
COUNTRY,,,,
China,Asia,1398.72,9596.96,12234.78
India,Asia,1351.16,3287.26,2575.67
US,N.America,329.74,9833.52,19485.39
Indonesia,Asia,268.07,1910.93,1015.54
Brazil,S.America,210.32,8515.77,2055.51
Pakistan,Asia,205.71,881.91,302.14
Nigeria,Africa,200.96,923.77,375.77
Bangladesh,Asia,167.09,147.57,245.63
Russia,NaN,146.79,17098.25,1530.75
Mexico,N.America,126.58,1964.38,1158.23
Japan,Asia,126.22,377.97,4872.42
Germany,Europe,83.02,357.11,3693.20
France,Europe,67.02,640.68,2582.49
UK,Europe,66.44,242.50,2631.23
Italy,Europe,60.36,301.34,1943.84
Argentina,S.America,44.94,2780.40,637.49
Algeria,Africa,43.38,2381.74,167.56
Canada,N.America,37.59,9984.67,1647.12
Australia,Oceania,25.47,7692.02,1408.68
Kazakhstan,Asia,18.53,2724.90,159.41

In [22]:
# Question 6 Write the data frame you have created in Q2 as excel but exclude region and country columns and show your code.
newdf = pd.read_excel(r'/Users/szechan/Documents/a/ALY6140_tech/week2/NBA_2K21_DATA.xlsx',
                  usecols=['COUNTRY','REGION'])
newdf

       COUNTRY     REGION
0        China       Asia
1        India       Asia
2           US  N.America
3    Indonesia       Asia
4       Brazil  S.America
5     Pakistan       Asia
6      Nigeria     Africa
7   Bangladesh       Asia
8       Russia        NaN
9       Mexico  N.America
10       Japan       Asia
11     Germany     Europe
12      France     Europe
13          UK     Europe
14       Italy     Europe
15   Argentina  S.America
16     Algeria     Africa
17      Canada  N.America
18   Australia    Oceania
19  Kazakhstan       Asia